:root {
    --main-color: #119dff;
    --white: #fdfdfd;
}

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: "Roboto", "sans-serif";
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    height: 100vh;
}

.header {
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 2fr 1fr;
    background-color: #fdfdfd;
    box-shadow: 0px 3px 5px 1px #C1C1C1;
}

.header, .main-content {
    padding: 20px 50px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 24px;
}

.search-bar input {
    flex: 1;
    border-radius: 20px;
    border: none;
    background-color: #dbdfe7;
    font-family: inherit;
    padding: 0.5rem;
}

.user-profile {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
}

.user-profile h3 {
    margin: 0;
    padding: 0;
}

.avatar-small {
    height: 3rem;
}

.avatar-big {
    height: 5rem;
}

.user-welcome {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 18px;
}

.user-welcome h2,
.user-welcome h4{
    margin: 0;
    padding: 0;
}

.user-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.user-buttons button {
    background-color: var(--main-color);
    font-family: inherit;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 20px;
    border: none;
    color: var(--white);
    cursor: pointer;
}

.sidenav {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: auto auto 1fr;
    background-color: var(--main-color);
    padding: 20px 30px;
    gap: 50px;
    box-shadow: 0px 0px 5px 1px #C1C1C1;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-link {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
    width: fit-content;
}

.logo .nav-link .icon {
    height: 3rem;
}

.logo .nav-link span {
    font-size: 2rem;
    font-weight: bold;
}

.icon {
    height: 2rem;
}

a {
    text-decoration: none;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 300px;
    gap: 30px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: 30px;
}

.projects .section-title {
    grid-column: 1 / -1;
}

.section-title h2 {
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    border-left: 15px solid #ffb019;
    background-color: white;
    padding: 15px;
    gap: 10px;
    height: 200px;
}

.card > * {
    margin: 0;
    padding: 0;
}

.card-actions {
    text-align: right;
}

.card-desc {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.side-content {
    display: grid;
}